.error-wrapper {
  background-image: url(../assets/images/error.jpg);
  background-size: auto 90vh;
  background-repeat: no-repeat;
  width: 100vw;
  height: calc(100vh - 164px);
  background-position: center;
}