@import 'variables.scss';
@import './abstract/mixins.scss';
@import 'header.scss';
@import 'main-page.scss';
@import 'scroll.scss';
@import 'filter.scss';
@import './abstract/placeholders.scss';
@import './cart.scss';
@import './modal.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}
