// color
$color-main: #fd2;
$color-dark-blue: #333e48;
$color-gray: #878787;
$color-black: #000;
$color-white: #fff;
$color-range: rgb(16, 16, 16);
$color-gray20: #333;

// background
$bg-gray: #e3e3e3;
$bg-whitesmoke: #f5f5f5;
$bg-orange: #ffa811;

// another
$transition: 0.3s;
