// color

$color-main: #fd2;
$color-dark-blue: #333e48;
$color-gray: #878787;
$color-black: #000;
$color-white: #fff;
$color-range: rgb(16, 16, 16);
$color-gray20: #333;
$color-gray89: #e3e3e3;
$color-modal-title: #333b41;
$color-error: rgb(230, 43, 43);

// background
$bg-gray: #e3e3e3;
$bg-whitesmoke: #f5f5f5;
$bg-orange: #ffa811;
$bg-white: #fff;

// another
$transition: 0.3s;
$hover: #fee456c2;
$active: #ffa811;
$text-shadow: #fc0;
